.container {
	width: 100%;
	height: 100%;
	padding: 60px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: auto;
	gap: 60px;
}

.carrito {
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	right: 15px;
	bottom: 30px;
	width: 55px;
	height: 55px;
	border-radius: 50%;
	background-color: #AAA6FF;
	cursor: pointer;
}

.carrito_img {
	width: 35px;
}

.count {
	position: absolute;
	top: 0;
	right: -10px;
	background-color: #FDF23F;
	border-radius: 50%;
	width: 20px;
	height: 20px;
	text-align: center;
}

@media screen and (max-width: 650px) {
	.container {
		grid-template-columns: 1fr;
		gap: 30px;
		padding: 20px;
	}
}