.container {
  padding: 10px 30px;  
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  color: #ffffff;
}

.title {
  font-size: 1em;
  color: #ffffff;
  text-decoration: none;
}

.link_button {
  text-decoration: none;
  color:  #fff;
  font-size: 1.2em;
}



@media screen and (max-width: 650px) {
  .container {
    padding: 10px 20px;
  }

  .link_button {
    font-size: 1em;
  }
}