
.select_counter {
	display: flex;	
	align-items: center;
	justify-content: space-between;
	width: 100%;

	font-size: 1.5em;
}

.counter_btn {	
	font-size: 1.2em;
	border-radius: 5px;
	padding: 0px 10px;
	border: none;
	cursor: pointer;
}

.btn_cant {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.counter_num {
	width: 40px;
	text-align: center;
}

.to_cart {
	font-size: 0.8em;
	border-radius: 5px;
	padding: 5px;
	border: 1px solid #F1EFEF;
	justify-self: flex-end;
	cursor: pointer;
	
}