.container {
	background-image: linear-gradient(to right,  rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.1)), url("../../assets/compreso/header3.jpg");
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	top: 0;
	height: 600px;
	padding: 0 100px;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: #ffffff;
	text-shadow: 1px 10px 10px rgba(0,0,0,1);
}



.title {
	font-size: 3em;
}

.description {
	font-size: 1.2em;
	margin-top: 5px;
}

@media screen and (max-width: 650px) {
	.container {
		padding: 20px 60px 0 30px;
		height: 500px;
		background-image:linear-gradient(to right,  rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.1)), url("../../assets/compreso/header3.jpg");
		background-position: 100% auto;
	}
}